{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" type="text" href="{% static 'styles/styles.css' %}">
</head>
<body>
        <div class="container">
            <h2>Protected</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error asperiores enim quibusdam delectus, repellendus officiis amet sed rem, at ab esse assumenda. Pariatur quos eius a facere quod impedit eveniet.</p>
            <a href="{% url 'home' %}">Home</a>
        </div>
</body>
</html>