{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text" href="{% static 'styles/styles.css' %}">
</head>
<body>
        <div class="container">
            <h2>Home</h2>
            <p>Welcom, {{request.user.username}}</p>
            <a href="{% url 'protected' %}">Go to your protected page</a>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
</body>
</html>