{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text" href="{% static 'styles/styles.css' %}">
{% comment %} Style for error messages to be in red color {% endcomment %}

</head>
<body>
        <div class="container">
            <h2>Login</h2>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{form.as_p}}
                {%comment%} hidden input {%endcomment%}
                <input type="hidden" name="next" value="{{next}}">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Passworld:</label>
                    <input type="text" name="password" id="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            {%comment%} Check for any error {%endcomment%}
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
</body>
</html>